.fullwrap {
	background: yellow;
	padding:10px;
}
.header {
	min-width: 150px;
	background: brown;
}
.wrap {
	background: black;
	padding:5px;
	margin: 5px 0;
}
.footer {
	min-width: 150px;
	background: blue;
}
.main {
	min-width: 75%;
	min-height: 250px;
	background: grey;
	float:left;
}
.sidebar {
	min-width: 25%;
	min-height: 250px;
	background: green;
	float:right;
}